<div class="box-container">
	<div class="medium" style="background-image: url('/assets/images/dashboardImage1.jpg');">One</div>
	<div class="medium marginL" style="background-image: url('/assets/images/dashboardImage2.jpg');">Two</div>
	<div class="medium" style="background-image: url('/assets/images/dashboardImage3.jpg');">Three</div>
	<div class="medium marginL" style="background-image: url('/assets/images/dashboardOtherThings.jpg');">Four</div>
</div>
<div class="loadmore-button-container"><div class="load-button">Load More<br><span class="increase-font-size">{{fa-icon "arrow-down"}}</span></div></div>