
<div class="Hero-container">
	<div class="HeroImage"> 
		<img src="images/HeroImage.jpg">
		<h2 class="welcomeLanding"> Embark on a Journey to Discover Your Potential</h2>	
	</div>
</div>
<div class="JoinConnectSucceed">
	<div class="join"> 
		<h2>Join</h2>
		<div class="circleimage"></div>
		<div >
			<ul class="list">
				<li>Join one of the <span class="bold">fastest</span> growing student connection services</li>
			</ul>
		</div>
	</div> 
	<div class="connect"> 
		<h2>Network</h2>
		<div class="connectimage">
			
		</div>
		<div>
			<ul class="listConnect">
				<li>Instantly connect with other students</li>
				<li>Find a group with the same goals as you</li>
			</ul>
		</div>
	</div> 
	<div class="succeed"> 
		<h2>Succeed</h2>
		<div class="succeedimage"></div>
		<div>
			<ul class="list">
				<li>Work the way <span class="bold">you</span> want to</li>
				<li>Learn from other students like you</li>
			</ul>
		</div>
	</div>

</div>
